<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
</head>

<body>
    <a href="/rango/">Index</a><br />


    {% if category %}
        <h1>{{ category.name }}</h1>

        <a href="/rango/category/{{ category.slug }}/add_page/">Add a New Page</a><br />

        {% if pages %}
            <ul>
            {% for p in pages %}
                <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        <strong>The specified category does not exist.</strong>
    {% endif %}
</body>
</html>
