{% extends 'rango/base.html' %}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
{% if category %}
    <h1>{{ category.name }}</h1>

    <div>
        <a href="{% url 'rango:add_page' category.slug %}">Add a New Page</a><br />
        <a href="{% url 'rango:index' %}">Index</a>
    </div>

    {% if pages %}
        <ul>
        {% for p in pages %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No pages currently in category.</strong>
    {% endif %}
{% else %}
    <strong>The specified category does not exist.</strong>
{% endif %}
{% endblock %}

