<!DOCTYPE html>
{% load static %}


<html>
<head>
    <title>Rango</title>
</head>

<body>
    <h1>Rango says...</h1>

    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>

    <div>
        <a href="/rango/about/">About</a><br />
        <img src="/static/images/rango.jpg" alt="Picture of Rango" />
    </div>

    <a href="/rango/add_category/">Add a New Category</a><br />

    <h2>Most Liked Categories</h2>

    <ul>
    {% if categories %}
        {% for c in categories %}
            <li><a href="/rango/category/{{ c.slug }}/">{{ c.name }}</a></li>
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
    </ul>

    <h2>Most Viewed Pages</h2>
    <ul>
    {% if pages %}
        {% for p in pages %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
    {% else %}
        <li><strong>There are no pages present.</strong></li>
    {% endif %}
    </ul>

</body>
</html>
